# Sinatra Settings
port=3011
bind=0.0.0.0
# SESSION_SECRET=your_super_secret_session_key_here

# Database Settings
DB_ADAPTER=postgresql
DB_HOST=localhost
DB_DATABASE=negromatic
DB_USERNAME=negromatic_user
DB_PASSWORD=negromatic_password

# Logging (debug|info|warn|error|fatal)
LOG_LEVEL=info

GROK_API_KEY=aaaXXXXyyyyyZZZ
