APP_ENV=development

# Sinatra Settings
port=3011
bind=0.0.0.0
# SESSION_SECRET=your_super_secret_session_key_here

# Database Settings
DB_ADAPTER=postgresql
DB_HOST=localhost
DB_DATABASE=negromatic
DB_USERNAME=negromatic_user
DB_PASSWORD=negromatic_password

# Logging (debug|info|warn|error|fatal)
LOG_LEVEL=info

GROK_API_KEY=aaaXXXXyyyyyZZZ

WAHA_URL=http://waha:3000
# WAHA_APPS_ENABLED=True
WAHA_API_KEY=xxxxYYYYZZZ000
WAHA_DASHBOARD_USERNAME=admin
WAHA_DASHBOARD_PASSWORD=xxxxYYYYZZZ111
WHATSAPP_SWAGGER_USERNAME=admin
WHATSAPP_SWAGGER_PASSWORD=xxxxYYYYZZZ222
